{% load staticfiles %}
<html>
    <head>
        <link href="{% static 'todo/form.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="form_container">
            <h1>Task Manager</h1>
            {% if error %} <p>{{ error }}</p> {% endif %}
            <form action="{% url 'todo:register' %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter your name">
                <br />
                <input type="password" name="password" placeholder="Enter your password">
                <br />
                <input type="password" name="confirm_pass" placeholder="Confirm your password">
                <br />
                <input type="submit" value="Start adding tasks">
            </form>
            <a href="{% url 'todo:login' %}">Exit</a>
        </div>
    </body>
</html>